<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
  </head>
  <body>
    <!-- Main page body -->
    <div class="container-fluid min-vh-100">
      <!-- Banner at the top of the page for navigation -->
      
	  <!-- 
	    Banner that will contain a centered 'Chatt with Bratt' and a hamburger 
		menu on the left which contains Home, Chat, Info nav. Will be reused 
		on each page
	  -->
	  <div class="h-100" style="height:400px">
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="#">Chatt with Bratt</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/chatt">Chatt</a>
			<a class="nav-item nav-link" href="/about">About</a>
		  </div>
		</div>
	  </nav>
	  </div>

	<div>
	<h1>Welcome to Chatt with Bratt!</h1>
	<h2>Click the Chatt button to start your one-on-one</h2>
	</div>
	<!------------------------------------------------------------------------>
    
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	  crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	  crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	  crossorigin="anonymous">
	</script>
  </body>
</html>

